###
apprentissage
mydb.txt
###> symfony/framework-bundle ###
quizz/.env.local
quizz/.env.local.php
quizz/.env.*.local
quizz/config/secrets/prod/prod.decrypt.private.php
quizz/public/bundles/
quizz/var/
quizz/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
quizz/.phpunit
quizz/.phpunit.result.cache
quizz/phpunit.xml
###< symfony/phpunit-bridge ###
