###
apprentissage
mydb.txt
###> symfony/framework-bundle ###
quiz/.env.local
quiz/.env.local.php
quiz/.env.*.local
quiz/config/secrets/prod/prod.decrypt.private.php
quiz/public/bundles/
quiz/var/
quiz/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
quiz/.phpunit
quiz/.phpunit.result.cache
quiz/phpunit.xml
###< symfony/phpunit-bridge ###
