{% extends 'base.html.twig' %} {% block title %}Hello QuizController!{% endblock
%} {% block body %}

<div class="row justify-content-around mt-5">
  <div class="alert alert-primary mt-5" role="alert">
    {{ message }}
  </div>
</div>
{% endblock %}
